* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: "Comic Relief", system-ui;
  /* border: 1px solid rgb(0, 255, 0); */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}

.game {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
}

#game-topic {
  color: #800000;
  letter-spacing: 5px;
}

.gamer-tools {
  margin-bottom: 40px;
  height: auto;
}

.letter {
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
}

.letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.word {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.word-letter {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 30px;
  height: 25px;
  font-size: 35px;
  line-height: 30px;
  color: #800000;
}

.gallows-with-hangman {
  border: 1px solid black;
  height: 400px;
  flex-shrink: 0;
  padding: 30px;
  position: relative;
}

.gallows-with-hangman div {
  display: none;
}

#gallows {
  border-left: 2px solid black;
  border-top: 2px solid black;
  width: 250px;
  height: 100%;
  position: relative;
}

#gallows:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  border-left: 2px solid black;
}

#head {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: 286px;
  border: 2px solid black;
}

#body {
  width: 60px;
  height: 120px;
  border: 2px solid black;
  position: absolute;
  top: 140px;
  right: 286px;
  border-radius: 80px;
}

#left-leg {
  height: 80px;
  border: 2px solid black;
  position: absolute;
  transform: rotate(10deg);
  top: 241px;
  right: 348px;
}

#left-arm {
  height: 80px;
  border: 2px solid black;
  position: absolute;
  transform: rotate(10deg);
  top: 170px;
  right: 351px;
}

#right-leg {
  height: 80px;
  border: 2px solid black;
  position: absolute;
  transform: rotate(-10deg);
  top: 241px;
  right: 281px;
}

#right-arm {
  height: 80px;
  border: 2px solid black;
  position: absolute;
  transform: rotate(-10deg);
  top: 170px;
  right: 278px;
}

.game-over {
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.game-over.active {
  display: flex;
}

.grey-letter {
  background-color: rgb(187, 187, 187);
}

.green-success {
  background-color: rgba(72, 190, 88, 0.7);
  color: green;
}

.red-fail {
  background-color: rgb(190, 72, 72, 0.7);
  color: red;
}